.main-footer {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: url('../img/footer-img.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 3em 0;
}

.main-footer .paragraph {
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
}

.main-footer .paragraph .ico,
.main-footer span {
    color: var(--primary-color);
}
