footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 2em 5em;
}

footer p {
    font-size: 1.2em;
}

footer span {
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
}

@media(max-width: 912px) {
    footer .navigation,
    footer .social-icons {
        display: flex;
    }
}

@media(max-width: 540px) {
    footer {
        justify-content: center;
        flex-direction: column;
    }

    footer p {
        margin-bottom: 3%;
    }
}