.main-header {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 0 2em;
}

.logo {
    font-size: 2em !important;
    font-weight: 600 !important;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 1em;
}

.header .nav-link {
    position: relative;
    width: max-content;
    margin: 1px;
}

.header .nav-link::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--color);
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: scaleX(0);
    transition: all .3s ease;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.header .nav-link:hover::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

.nav-header-btn {
    display: none;
    color: var(--light-font-color);
    background-color: transparent;
    border: none;
    outline: none;
}

.side-nav {
    position: fixed;
    z-index: 4;
    right: 0;
    width: 75%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    background-color: var(--dark-background-color);
    padding: 1em;
    transform: translateX(100%);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

.side-nav .nav-link {
    width: 100%;
    padding: 1em;
    margin: 1em;
    border-bottom: 1px solid var(--primary-color);
}

.close-nav {
    content: "";
    position: fixed;
    display: none;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: .6;
    background-color: var(--dark-background-color);
}

@media(max-width: 912px) {
    .navigation {
        display: none;
    }

    .nav-header-btn {
        display: flex;
    }
}