.scroll-btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    bottom: -6%;
    right: 3%;
    font-size: 2em;
    font-weight: 500;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 50%;
    padding: 1em;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.scroll-ico {
    cursor: pointer;
}

@media(max-width: 1024px) {
    .scroll-btn {
        font-size: 1.5em;
        width: 30px;
        height: 30px;
    }
}

@media(max-width: 375px) {
    .scroll-btn {
        font-size: 1em;
        width: 25px;
        height: 25px;
    }
}
