@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --primary-color: #0179D7;
    --primary-light-color: #0179D791;
    --font-color: #FFFFFF;
    --dark-background-color: #222;
    --dark-font-color: #333;
    --color: #82ED9D;
    --border-radius: 5px
}

body {
    font-size: 16px;
    color: var(--font-color);
    background-color: var(--dark-background-color);
    font-family: 'Poppins', sans-serif;
}

.sect {
    padding: 3em 0;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Cairo', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding: 1em;
}

.heading {
    font-size: 1.8em;
    font-weight: 600;
    font-family: 'Cairo', sans-serif;
    padding: 1em;
}

.paragraph {
    font-size: 1em;
    font-weight: 400;
    padding: 1em;
}

.short {
    text-align: center;
    text-transform: uppercase;
}

.nav-link {
    font-size: 1em;
    font-weight: 400;
    color: var(--font-color);
    text-decoration: none;
    text-transform: capitalize;
    padding: 1em;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.nav-link:hover {
    color: var(--color);
}

.btn {
    font-size: .8em;
    font-weight: 500;
    color: var(--font-color);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    padding: 1em 2em;
    cursor: pointer;
    transition: all .3s ease;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.btn:hover {
    color: var(--dark-font-color);
    background-color: var(--color);
}

.scroll-btn {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    padding: 1em;
    margin: 1em;
    transform: translateY(150%);
    -webkit-transform: translateY(150%);
    -moz-transform: translateY(150%);
    -ms-transform: translateY(150%);
    -o-transform: translateY(150%);
}

/*** Main Section ***/
.main-sect {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    background: url('../img/main-sect-background.jpeg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 0;
}

.main-sect-container {
    width: 50%;
    background-color: var(--primary-light-color);
    padding: 2em 3em;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

.main-sect .heading, 
.main-sect .paragraph,
.main-sect .nav-link:nth-child(1) {
    padding-left: 0;
}

.facebook-link:hover,
.facebook-ico:hover {
    color: #3b5998;
}

.nav-linkedin-link:hover,
.nav-linkedin-ico:hover {
    color: #0072b1;
}

.instagram-link:hover,
.instagram-ico:hover {
    color: #d62976;
}

.youtube-link:hover,
.youtube-ico:hover {
    color: #c4302b;
}

/*** Portfolio Section ***/
.portfolio-sect {
    padding-right: 0;
    padding-left: 0;
}

.btns-portfolio-container {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 3em;
    margin: auto;
}

.nav-portfolio-btn {
    margin: 1em .5em;
}

.active-nav-portfolio-btn {
    color: var(--dark-font-color) !important;
    background-color: var(--color) !important;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, .8fr);
    gap: 1em;
    padding: 0 1em;
}

.project-card {
    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

.project-card-content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    height: 50%;
    color: var(--primary-color);
    background-color: var(--dark-background-color);
    padding: 1em;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.project-card:hover > .project-card-content {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.project-card-heading {
    font-size: 1.2em;
    text-transform: capitalize;
    padding: .5em;
    padding-left: 0;
}

.project-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*** About Section ***/
.about-background {
    background: url('../img/about-sect.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 3em;
}

.about-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 2em;
}

.about-container-paragraph {
    width: 60%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.know-more-btn {
    margin: 2em 1em;
}

.my-img {
    width: 37.5em;
}

/*** Contact Section ***/
.contact-sect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-color);
    gap: 1em;
    overflow: hidden;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

.map {
    width: 100%;
    height: 100%;
}

.contact-form {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 1em;
}

.contact-form .title {
    padding-left: 0;
}

.contact-inp {
    width: 75%;
    font-size: .9em;
    font-weight: 500;
    color: var(--font-color);
    background-color: transparent;
    border: 1px solid var(--color);
    outline: none;
    border-radius: var(--border-radius);
    padding: 1em;
    margin: 1em 0;
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

.contact-inp::placeholder {
    color: var(--font-color);
}

.contact-form #message {
    height: 10em;
}

.contact-form #submit {
    font-weight: 600;
    color: var(--dark-font-color);
    background-color: var(--color);
    cursor: pointer;
}

/*** More About Section ***/
.more-about-sect {
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 3em;
}

/*** Skills Section & Knowledge Section ***/
.skills-container,
.knowledge-container {
    padding: 2em;
}

.skills-grid,
.knowledge-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    text-align: center;
    padding-bottom: 1em;
}

.skill-ico,
.knowledge-ico {
    font-size: 2.5em;
    padding-bottom: 5px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.skill-ico:hover,
.knowledge-ico:hover {
    color: var(--color);
}

.skill-title,
.knowledge-title {
    font-size: 1em;
    font-weight: 500;
}

@media(max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

@media(max-width: 912px) {
    .main-sect {
        justify-content: center;
    }

    .main-sect-container {
        width: 100%;
        text-align: center;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .about-container {
        justify-content: center;
        flex-direction: column;
    }

    .about-container-paragraph {
        width: fit-content;
        padding-bottom: 2em;
    }
}

@media(max-width: 540px) {
    .portfolio-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .btns-portfolio-container {
        flex-wrap: wrap;
    }

    .my-img {
        width: 25em;
    }

    .skills-grid,
    .knowledge-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .contact-form {
        align-items: center;
    }
}

@media(max-width: 320px) {
    body {
        font-size: 10px;
    }
}